{% extends "layouts/base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="row justify-content-center align-items-center" style="height: 100%">
  <div class="col-xs-12 col-lg-5 col-md-6">

    <div class="card">

      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Forgot Pass</strong>
      </h5>

      <div class="card-body px-lg-5 pt-0">

        <form class="text-center" style="color: #757575;" method="POST" action="{{ path_for('forgotpass.sendtoken') }}">
          <p class="mt-4">Enter the e-mail address you used to register your account. You will receive an e-mail with a link to set a new password.</p>

          {% if success_message %}
            {% include "components/success.twig" %}
          {% endif %}

          {% if error_message %}
            {% include "components/errors.twig" %}
          {% endif %}

          <div class="md-form">
            <input type="email" id="email" class="form-control" name="email" value="{% if error_message %}{{ old_fields.email }}{% endif %}" required>
            <label for="email">Your E-mail</label>
          </div>

          {{ csrf_field() | raw }}

          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Send mail</button>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}