<!DOCTYPE html>
<html lang="es">
<head>
  {% include "layouts/meta.twig" %}
  <title>{% block title %}{% endblock %} - {{ appName }} </title>
  {% include "layouts/links.twig" %}
</head>
<body>
  {% include "layouts/navbar.twig" %}
  <main class="view" style="height: 100%; background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient">

      <div class="container py-4" style="height: 100%">
        {% block body %}{% endblock %}
      </div>
    </div>
  </main>
  {% include "layouts/scripts.twig" %}
</body>
</html>